div.Sentences {
    position: relative;
    top: 0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 0;
    background-color: white;
    width: 45vw;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: medium;
    border-radius: 3.5px;
    max-height: 100px;
    overflow: auto;
}

div.Sentences.set {
    white-space: pre-wrap;
}